body {
  background-color: #eff6fc;
}

header.banner {
  min-height: 48px;
  background: #ffffff;
  box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
    0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
  border-radius: 2px;
}

header h1 {
  font-size: 42px;
  font-weight: normal;
  font-family: "Yu Mincho";
  text-align: center;
}

.card-list {
  display: flex;
  position: relative;
  margin-top: 32px;
  left: 10%;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.card {
  width: 300px;
  height: 250px;
  margin: 0 15px 30px 15px;
  padding: 0;
  background-color: var(--bg-w-pure);
  border-radius: 8px;
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0 5px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.03) 0 5px 10px;
  box-shadow: rgb(0 0 0 / 3%) 0 5px 10px;
  text-align: left;
  overflow: hidden;
  transition: 0.25s;
  cursor: pointer;
}

.card a {
  width: 300px;
  height: 250px;
  outline: 0;
  text-decoration: none;
  transition: 0.25s;
}

.card img {
  width: 300px;
  height: 160px;
  margin: 0 0;
}

.card-content {
  width: 300px;
  height: 90px;
  margin: 0 0;
  padding: 0 0;
}
